 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 840px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 566px;
  margin: 71px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 396px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 15px 30px 9px;
}

.u-section-1 .u-group-1 {
  width: 336px;
  min-height: 336px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 77px;
  width: 77px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 15px 30px 9px;
}

.u-section-1 .u-group-2 {
  width: 336px;
  min-height: 336px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 77px;
  width: 77px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -224px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 33px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 778px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-group-1 {
    width: 321px;
    margin-left: 0;
    margin-right: 0;
    min-height: 321px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-group-2 {
    width: 321px;
    margin-left: 0;
    margin-right: 0;
    min-height: 321px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 996px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-1 {
  height: 735px;
  width: 874px;
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 20px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-group-1 {
  width: 400px;
  min-height: 157px;
  height: auto;
  margin: -446px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2683px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2422px;
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1902px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2104px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1817px;
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -987px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1144px;
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    min-height: 130px;
    margin-top: -637px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }
}